
<h3 class="mb-3">今日の注目記事</h3>
<div class="d-flex">
  <%= render partial: "/articles/mockup_article_card", 
          collection: @featured_articles, 
          as: :article %>
  <!-- 他のカードも追加可能 -->
</div>
