<div class="fs-lg">
  <%= @article.title %>
</div>
<br>
<div>
  <%= @article.content %>
</div>
<div>
<% if current_user.id == @article.user_id %>
  <br>
  <!-- 別タブで開く target: :_blank, rel: "noopener noreferrer" -->
  <%= link_to @article.linkurl, @article.linkurl, target: :_blank, rel: "noopener noreferrer"%>
<% end %>
<%= button_to "削除", article_path, method: :delete, class:"btn btn-danger" %>
