<p>
  <%= "#{@resource.username}さん" %> <!-- これは私が独自に追加した項目です -->
  <br>
  ITプロジェクトをご利用いただきありがとうございます。
  <br><br>
</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>    

<p>
  Webページを開く
  <br>
  <a href="https://it-pnnm.onrender.com">https://it-pnnm.onrender.com</a>
  <br><br>
  ※このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。
  <br><br>
  ■ご登録の覚えがないのにこのメールが届いたという方
  <br>
  ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。
  <br>
  nnzjonrou@gmail.com
</p>