<p>
  <%= "#{@resource.username}さん" %> <!-- これは私が独自に追加した項目です -->
  <br>
  ITプロジェクトをご利用いただきありがとうございます。
  <br><br>
</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

<p>
  Webページを開く
  <br>
  <a href="https://it-pnnm.onrender.com">https://it-pnnm.onrender.com</a>
  <br><br>
  ※このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。
  <br><br>
  ■ご登録の覚えがないのにこのメールが届いたという方
  <br>
  ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。
  <br>
  nnzjonrou@gmail.com
</p>